.DS_Store
GoogleService-Info.plist
bin/
lib/
pyvenv.cfg
spotify_creds.txt
.cache
__pycache__
share/
include/
*/.DS_Store
models/
Scripts/
serviceAccountKey.json
bundles.pkl
image_data/*
!image_data/.gitkeep